@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  border: 0.2rem dashed black;
  border-top: none;
  margin: auto;
  width: 95%;
  margin-top: -1rem;
  margin-bottom: 2rem;
  padding-top: 4rem;
}

header {
  margin-top: 4rem;
  width: 100%;
  margin: auto;
}
#header_container {
  display: flex;
  background-color: rgba(255, 183, 3, 1);
  width: 90%;
  height: 5rem;
  margin: auto;
  justify-content: center;
}

#icon_header {
  margin-top: -1.5rem;
  margin-left: 1rem;
}

#sec_title {
  font-size: 15px;
  background-color: rgba(142, 202, 230, 1);
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

#alien {
  display: inline-flex;
}
#sec_title_part1 {
  display: inline-flex;
}
#poisson {
  display: inline-flex;
}
#sec_title_part2 {
  display: inline-flex;
}

#div_ajout {
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#input_name {
  width: 15rem;
  height: 1.2rem;
  margin-left: 2rem;
}

#btn_submit {
  margin-top: -0.2rem;
  height: 1rem;
  width: 12.3rem;
  margin-left: 2rem;
  background-color: rgba(2, 48, 71, 1);
  font-weight: bold;
  border: 0.5rem solid rgba(2, 48, 71, 1);
  border-radius: 0.2rem;
}
#btn_submit:hover {
  background-color: rgb(64, 112, 134);
  border: 0.5rem solid rgb(64, 112, 134);
}
#btn_submit:active {
  background-color: rgb(20, 170, 20);
  border: 0.5rem solid rgb(20, 170, 20);
  height: 0.8rem;
  width: 12.2rem;
}

#help {
  text-align: center;
  margin-top: -0.2rem;
}
#div_list {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
}

#div_apprennant_title {
  background-color: rgba(142, 202, 230, 1);
  height: auto;
  margin: auto;
  display: flex;
  width: 90%;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
}

#btn_suivant_div {
  margin-top: 1rem;
  text-align: center;
}

#btn_suivant {
  display: inline-flex;
  background-color: rgba(2, 48, 71, 1);
  font-weight: bold;
  border: 0.1rem solid rgba(2, 48, 71, 1);
  border-radius: 0.2rem;
  width: 9.2rem;
  height: 1.9rem;
  justify-content: center;
}

#btn_suivant:hover {
  background-color: rgb(20, 170, 20);
  border: 0.1rem solid rgb(20, 170, 20);
}
#btn_suivant:active {
  background-color: rgb(4, 105, 4);
  border: 0.1rem solid rgb(4, 105, 4);
  width: 9rem;
  height: 1.7rem;
}
#suiv {
  margin-top: 0.1rem;
}

#raff {
  margin-top: 0.1rem;
}

#btn_refraiche_list {
  justify-content: center;
  display: inline-flex;
  background-color: rgba(2, 48, 71, 1);
  color: #fff;
  font-weight: bold;
  border: 0.1rem solid rgba(2, 48, 71, 1);
  border-radius: 0.2rem;
  margin-left: 1rem;
  width: 15rem;
  height: 1.9rem;
}

#btn_refraiche_list:hover {
  background-color: rgb(20, 128, 170);
  border: 0.1rem solid rgb(20, 128, 170);
}
#btn_refraiche_list:active {
  width: 14.8rem;
  height: 1.7rem;
  background-color: rgb(1, 76, 105);
  border: 0.1rem solid rgb(1, 76, 105);
}

#div_list_names {
  display: flex;
  margin: auto;
}

table {
  margin-top: 1.5rem;
  border-collapse: collapse;
  border: 0.1rem solid black;
}

#nom {
  width: 6rem;
  height: 1rem;
}
#date {
  width: 14rem;
  height: 1rem;
}

#passer_tour {
  height: 1rem;
}
tr {
  width: 4rem;
  border: 0.1rem solid rgb(37, 37, 37);
  background-color: white;
}

th {
  border: 0.1rem solid rgb(41, 41, 41);
  text-align: center;
  background: white;
  padding: 0.5rem;
}
td {
  height: 1.7rem;
  border: 0.1rem solid black;
  text-align: center;
  background: white;
  padding: 0.2rem;
}

.td_nom_demandant_first {
  background: rgb(64, 161, 206);
}
.td_date_demandant_first {
  background: rgb(64, 161, 206);
}
.td_btn_passer_first {
  background: rgb(64, 161, 206);
}
.td_nom_demandant_traite {
  background: rgb(94, 228, 94);
}
.td_date_demandant_traite {
  background: rgb(94, 228, 94);
}
.td_btn_passer_traite {
  background: rgb(94, 228, 94);
}
.td_nom_demandant_passer {
  background: rgb(107, 107, 107);
  text-decoration: line-through;
}
.td_date_demandant_passer {
  background: rgb(107, 107, 107);
  text-decoration: line-through;
}
.td_btn_passer_passer {
  background: rgb(107, 107, 107);
}
.hide_id_on_btn {
  display: none;
}

.link_all_btn {
  font-size: 1rem;
  font-weight: 530;
}

.btn_passer_hiding {
  display: none;
}

.btn_passer_base {
  background-color: rgba(251, 133, 0, 1);
  border: 0.1rem solid rgba(251, 133, 0, 1);
  border-radius: 0.3rem;
  width: 10rem;
  height: 1.7rem;
}

.btn_passer_base:hover {
  background-color: rgb(70, 70, 70);
  border: 0.1rem solid rgb(70, 70, 70);
}

.btn_passer_base:active {
  background-color: rgb(54, 54, 54);
  border: 0.1rem solid rgb(54, 54, 54);
  width: 9.7rem;
  height: 1.5rem;
}

@media screen and (max-width: 1400px) {
  #maintitle {
    font-size: 1.5rem;
  }
  #sec_title {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 800px) {
  #sec_title {
    height: 8rem;
  }
  #sec_title_part2 {
    margin-top: -1.6rem;
  }

  #input_name {
    height: 2rem;
  }

  #btn_submit {
    height: 2rem;
  }
}

@media screen and (max-width: 520px) {
  #btn_refraiche_list {
    margin-top: 1rem;
  }

  #header_container {
    text-align: center;
  }
}
